.formgroup{
    padding:2vh;
    width:70vw;
    display:block;
}
form{
    margin:2vh;
}
.input{
    margin:2vh;
    padding:2vh;
}
.errmsg{
    background-color:salmon;
    padding:0.5rem;
    border:solid red;
    margin:0.5rem;
}
.sumsg{
    background-color: seagreen;
    padding:0.5rem;
    border:solid green;
    margin:0.5rem;
}