.Brand{
    padding:2vh;
    float:left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.link{
    text-decoration: none;
    color:white;
    font-weight: 500;
}
.link:active{
    color:black;
}
nav{
    position:sticky;
    top:0;
    background-color:black;
    height:7vh;
    margin:0vh;
    padding:0;
    z-index:200;
}
nav ul{
    padding:0;
    margin:0;
}
.NavList{
    list-style:none;
    padding:0;
    margin:0;
}
.NavList li{
    cursor: pointer;
    padding:2vh 2vw;
    text-align:center;
    float:right;
    text-decoration: none;
}
.NavList li:hover{
    background-color: #6096ac;
    color:white;
}
.menu{
    display: none;
}
@media (max-width:700px){
    .NavList{
        display: none;
    }
    .Brand{
        display: none;
    }
    .menu{
        display: inherit;
        padding:0.5vh;
    }
    .menu:hover{
        cursor: pointer;
    }
    .menu li{
        width: 10%;
        border:solid black 0.05rem;
        color:white;
        background-color: white;
        list-style: none;
        padding:0.2vh;
        margin:1vh;
    }
    .menu li:first-child{
        width: 7%;
        border:solid black 0.05rem;
        color:white;
        background-color: white;
        list-style: none;
        padding:0.2vh;
        margin:1vh;
    }
    .menu li:last-child{
        width: 7%;
        border:solid black 0.05rem;
        color:white;
        background-color: white;
        list-style: none;
        padding:0.2vh;
        margin:1vh;
    }
}