.form{
    background-color:#8F8F8F;
    width:50vw;
    margin:auto;
    display: inline-block;
}
.formgroup{
    padding-top:1vh;
    display: block;
    width:50vw;
}
.label{
    display:inline-block;
    font-size:1.2rem;
    font-weight:bold;
    color:azure;
    text-align:left !important;
    width: 20vw;
    vertical-align: top;
}
.error{
    font-size:1.2rem;
    font-weight:bold;
    margin:auto;
    padding:1.2rem;
    background-color: salmon;
    color:white;
    border:solid red 1px;
}
.input{
    font-size: 1.2rem;
    font-weight:bold;
    width:20vw;
    padding:1vh;
    background-color: white;
    border:solid 2px black;
}

.text{
    font-size: 1.2rem;
    font-weight:bold;
    resize: none; 
    width:20vw;
    background-color: white;
    border: solid 2px black;
}
.text[id="plot"]{
    height:20vh;
    width:20vw;
    margin:auto;
}
.submit{
    display: block;
    margin:auto;
    padding:1.2rem;
    border-radius: 10px;
    border:0 ;
    background-color: teal;
    color:white;
    cursor: pointer;
}
.submit:hover{
    background-color:black;
    color:teal;
    cursor: pointer;
}
@media(max-width:1000px){
    .form{
        width:80vw;
    }
    .formgroup{
        width:80vw;
    }
    .label{
        display: inline-block;
        width:40vw;
    }
    .input{
        width:40vw;
    }
    .text{
        width:40vw;
    }
    .text[id="plot"]{
        height:20vh;
        width:40vw;
    }
}    