.Header{
    text-align:center;
    font-size:1.6rem;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    width:30vw;
    height:40vh;
    text-align: center;
    display: inline-block;
}
.form{
    padding-top:5vh;
    width:50vw;
    margin:auto;
}
.formgroup{
    background-color:#8f8f8f;
    width:50vw;
    display: block;
    padding-top:2vh;
}
.label{
    width:20vw;
    display: inline-block;
    text-align:left;
    vertical-align: top;
    font-size:1.6rem;
    font-weight:bold;
}
.input:disabled,.text:disabled{
    background-color: rgba(0,0,0,0);
    border:none;
}
.input,.text{
    width:20vw;
    border:black solid 0.2rem;
    padding:1.2rem;
    font-size:1.2rem;
}
.text{
    height:15vh;
    width:20vw;
    resize: none;
}
.input:disabled{
    padding:2vh;
    color:white;
    font-size:1.2rem;
}
.text:disabled{
    padding:2vh;
    color:white;
    font-size:1.6rem;
    width:20vw;
}
.text:disabled[id="plot"]{
    height:15vh;
    width:20vw;
}
@media(max-width:768px){
    .label{
        display: block;
        text-align: left;
        font-size:1.6rem;
        font-weight:bold;
    }   
    .form{
        padding:0;
        width:90vw;
        margin:auto;
    }
    .formgroup{
        width:90vw;
        margin:auto;
    }
    .text{
        /* height:15vh; */
        width:70vw;
    }
    .input:disabled{
        width:70vw;
    }
    .input{
        width: 70vw;
    }
    .text:disabled{
        width:70vw;
    }
    .text:disabled[id="plot"]{
        height:30vh;
        width:70vw;
    }
    .img{
        width:70vw;
        height:50vh;
    }
}
.button{
    padding:1.2rem;
    margin:1vw;
    color:white;
    background-color:teal;
    border-radius:10px;
    border:none;
    cursor: pointer;
}
.button:hover{
    background-color: black;
    color:teal
}
.formpre{
    margin:0;
    padding:0;
}